# Imports.

import(methods)
import(copula)


# Classes and generic functions.

exportClasses(Vine, RVine, CVine, DVine)
exportClasses(fitVine, fitVineML)

exportMethods(h, hinverse)
exportMethods(calibKendallsTau, calibSpearmansRho)

exportMethods(dvine)
exportMethods(pvine)
exportMethods(rvine)
exportMethods(pitVine)


# Exported functions.

export(fitVine, fitCVine, fitDVine)
export(orderingVine, orderingCVine, orderingDVine)
export(parameters, "parameters<-")
export(gofVine)
