useDynLib(vines, .registration = TRUE, .fixes = "C_")


import(copula)
import(ADGofTest)
import(cubature)


exportClasses(Vine, RVine, CVine, DVine)
exportClasses(vineFit, vineFitML)
exportClasses(gofVine)

exportMethods(h, hinverse)

exportMethods(dvine)
exportMethods(pvine)
exportMethods(rvine)
exportMethods(pitVine)

exportMethods(show, dimnames, "dimnames<-")


export(Vine, CVine, DVine)
export(vineFit)
export(orderingVine, orderingCVine, orderingDVine)
export(vineParameters, "vineParameters<-")
export(gofVine)
